body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.EntitiesBar {
  display: block;
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid #9FB2C4;
  background: #EAEDF0;
  font-family: Tahoma,sans-serif;
  font-size: 11px;
}

.EntityCategory {
  line-height: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 20px;
  overflow: hidden;
  font-size: 11px;
  display: block;
  color: #0D5A90;
  font-weight: bold;
}

.mark {
  border-bottom: double #8000FF;
}