@model OpenCalaisExample.Models.TransformationModel
@{
    ViewBag.Title = "Index";
}

@using OpenCalaisExample.CustomHelpers;

@if (Model != null)
{
    <div id="resultForAjax">
        @Html.TransformXml(Model.XmlFile, Model.XsltPath)
    </div>
}
else
{
    <input type="button" id="backButton" onclick="BackFunction()" value="Back" style="display:none" />
    <div id="ajaxForm" style="display:block">
        @using (Ajax.BeginForm("Index", "Home", new AjaxOptions { Url = Url.Action("IndexAjax"), OnSuccess = "OnSuccessFunc", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
        {
            <h1>Enter your data</h1>
            @Html.TextArea("inputData", new { @cols = 80, @rows = 20 });
            <br />
            <input type="file" value="Upload file" name="file" />
            <input type="submit" value="Submit" />
        }
    </div>
    <div id="resultForAjax" style="display:none">

    </div>
}
<br />
<br />
<footer><center>Made by Vitali Pantsialei</center></footer>

<script type="text/javascript">
    function OnSuccessFunc(data) {
        var f = document.getElementById('ajaxForm');
        var r = document.getElementById('resultForAjax');
        var b = document.getElementById('backButton');
        f.style.display = 'none';
        b.style.display = 'block';
        r.innerHTML = data;
        r.style.display = 'block';
    }
    function BackFunction() {
        var f = document.getElementById('ajaxForm');
        var r = document.getElementById('resultForAjax');
        var b = document.getElementById('backButton');
        f.style.display = 'block';
        b.style.display = 'none';
        r.style.display = 'none';
    }
    window.addEventListener("submit", function (e) {
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        //var r = document.getElementById('resultForAjax');
                        //if (form.dataset.ajaxUpdate) {
                        //    var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                        //    if (updateTarget) {
                        //        updateTarget.innerHTML = xhr.responseText;
                        //    }
                        //}
                        document.body.innerHTML = xhr.responseText;
                    }
                };
                xhr.send(new FormData(form));
            }
        }
    }, true);
</script>